body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: inline-block;
    width: 45%;
}

.ImageList {
    display: inline-block;
    float: left;
    width: 43%;
}

.ImageList p {
    white-space: nowrap;
    overflow: hidden;
    font-size: 17px;
    /* text-overflow: ellipsis; */
}


.Display {
    display: inline-block;
    width: 50%;
    height: 90vh;
}

.Display img {
    display: block;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
}

ul {
    list-style-type: none;
}


li {
    margin: 8px;
    padding: 5px;
    border-radius: 6px;
    text-align: left;
}


.thumbnail img {
    display: inline-block;
    object-fit: cover;
    padding: 2px;
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 4px;

}

.CaptionText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

